[
  {
    "source_name": "Ganzo мультитули",
    "reference_path": "Ножі та інструменти > Мультитули"
  },
  {
    "source_name": "Масла і мастила Brunox",
    "reference_path": "Чистка та догляд > Засоби"
  },
  {
    "source_name": "Ножі Ganzo 6а серія",
    "reference_path": "Ножі та інструменти > Ножі > Складні ножі"
  },
  {
    "source_name": "Тактичні ліхтарі Fenix",
    "reference_path": "Ліхтарі > Тактичні"
  },
  {
    "source_name": "Condor жилети тактичні",
    "reference_path": "Спорядження > Розгрузки"
  }
]
